<mat-sidenav-container>

  <!-- side nav -->
  <mat-sidenav class="sidenav" [mode]="'over'" align="start" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0"
    scrollable #sidenav>
    <app-sidenav [sidenav]="sidenav"></app-sidenav>
  </mat-sidenav>

  <!-- main container -->
  <mat-sidenav-content>

    <perfect-scrollbar class="ps" style="height: 100vh;" [config]="">

      <!-- header -->
      <app-header [sidenav]="sidenav"></app-header>

      <!-- main content -->
      <router-outlet></router-outlet>

    </perfect-scrollbar>

  </mat-sidenav-content>

</mat-sidenav-container>